[2021-10-24 08:06] matinlotfali opened #2 "[KWin 5.24] The shadow beneath the rounded corner is gone"
As can be seen in the screenshot, the shadow below the rounded corners is missing.
![Screenshot_20211024_010159](https://user-images.githubusercontent.com/7337168/138585772-a20930e6-bdc4-452f-b541-9c7bc5c5e224.png)
Currently in contact with KWin developers to be able to draw a shadow in that specific spot manually.

[2021-10-24 08:12] matinlotfali opened #3 "Newly opened full-screen windows have rounded corners"
When you restore and maximize a window, it won't have rounded corners. But when you open a window that is already maximized, it still shows rounded corners.
![Screenshot_20211024_010841](https://user-images.githubusercontent.com/7337168/138585913-24a24812-76e6-4334-95df-9e4808df925a.png)

[2021-10-24 14:15] Kaydax opened #4 "Support for GTK windows that don't use native Qt titlebars / borders"
It would be nice to have this since some apps dont have borders enabled by default as it destroys the look of the app. It would be great if there was any way to allow it to support all windows, border or not

[2021-10-24 22:45] Kaydax opened #6 "Maximizing/Minimizing other windows causes Maximized windows to gain rounded corners"
Title explains it all. If you have another window maximized, and then minimize or maximize another window, it causes maximized windows to get rounded corners again

[2021-10-24 22:56] #6 closed, assigned to nobody

[2021-10-27 11:01] Dhamma-valence opened #7 "Thank you for maintaining this project!"
That's all, but seriously, thanks! It looks beautiful and I'm so glad someone is taking care of it!

[2021-10-31 11:22] Corrupter-rot opened #8 "ShapeCorner Config"
Isn't there a shapecornersrc file in which we can change the rounded corner size. If not will you be making something like that?

Thanks!!

[2021-11-02 22:59] matinlotfali commented on #8
You can edit the corner radius in System Settings / Workspace Behavior / Desktop Effects / ShapeCorners

[2021-11-02 22:59] #8 closed

[2021-11-02 23:02] matinlotfali commented on #7
I am happy to help

[2021-11-02 23:02] #7 closed

[2021-11-03 23:45] a-parhom commented on #2
Eventually I have managed to deal with this corners problem in [this commit](https://github.com/a-parhom/LightlyShaders/commit/5e08eb3439dad848bcf01f393f3d3af0bcd61270) in my fork. It uses the new DeformEffect approach from Plasma 5.23. Also it shrinks the shadow a little bit (the bigger is your corner radius the more it shrinks the shadow), because now there is no such thing as WindowQuadType so

[2021-11-04 05:40] MiguelGuthridge opened #9 "How do I uninstall?"
There are no instructions for uninstalling the tweak

[2021-11-04 05:42] MiguelGuthridge opened #10 "When dragging windows with borders fully disabled, the corners reappear until dragging is stopped"

[2021-11-04 06:37] matinlotfali commented on #9
Added instructions in README.md

[2021-11-04 06:37] #9 closed

[2021-11-04 06:52] matinlotfali commented on #10
I confirm that I can see this issue on the latest version of KWin but not on Ubuntu 20.04

[2021-11-04 07:01] a-parhom commented on #2
Actually, I now have an idea how to deal with this without getting shadows smaller. I'll try that today or in a few days and if it will work, I'll push it to my repo.

[2021-11-04 07:02] matinlotfali commented on #10
Removing the PAINT_WINDOW_TRANSFORMED filter fixed the issue.

[2021-11-04 07:02] #10 closed

[2021-11-04 15:08] ryu-ketsueki commented on #2
Sending this here because your fork of LightlyShaders doesn't have issue reporting.
![Flameshot_202111 4_120431](https://user-images.githubusercontent.com/39316730/140339374-5719c540-9bc3-477c-87e5-965ed1055177.png)

There must be a bug with how the bottom shadows are handled. They keep increasing in size instead of shrinking. Corner roundness are at 8px for me since it's the max Lightly allows.

[2021-11-04 15:22] a-parhom commented on #2
I can see, that the corners on your screenshot are also cut out, which is wrong. I use this with Kvantum, not Lightly and don't have those issues. I'm pretty sure, that my approach can have bugs, because I'm not very experienced in KWin, Qt and C++ (I'm a web-developer), but I'll look into this issues and try to find solution as soon as I have time. Maybe, a couple of days. But no guarantee that I

[2021-11-04 15:28] a-parhom commented on #2
From the screenshot it seems that with Lightly the frameGeometry and expandedGeomerty return wrong values (well, not the ones my deform function is expecting). And I can't say anything for now about the Slide effect, I'll have to test it on my machine. As I said, in a couple of days, I think.

[2021-11-05 14:00] a-parhom commented on #2
Please, try [this commit](https://github.com/a-parhom/LightlyShaders/commit/76fb7e14267ad17516779a1d94711c65976528eb), it should fix your issues.

P.S. I also enabled the Issues section in my repo, so you can open an issue there if there is one.

[2021-11-05 18:52] ryu-ketsueki commented on #2
So far seem to have been resolved. I'll be reporting any bugs I find if there are any

[2021-11-05 20:55] matinlotfali commented on #2
@a-parhom thank you for your effort. but I think your approach is resource intensive. You are painting windows twice, one smaller shadow for shadow and one for the actual window. With 10 unmaximized windows open on the dual monitor, it can reduce my desktop FPS from 60 to 30.
I think we can get better performance by drawing our own shadows and ignoring the native shadow of KWin.

[2021-11-07 16:03] eexsty opened #11 "There is a "border" below the window and the window border is still shown in the title bar even though it is disabled."
![image](https://user-images.githubusercontent.com/45243386/140652509-3cb2bbd1-4b09-461c-b84e-83ff4ecf3280.png)

[2021-11-07 17:15] karolproksa opened #12 "Rounded corners at fullscreen windows"
As mentioned in the title. When for example playing fullscreen videos we can see the rounded corners.

[2021-11-14 11:47] Nikita-Presnov opened #13 "All effects was broken."
It brooked all kwin effects when applying settings.

[2021-11-20 03:34] matinlotfali commented on #13
I need more information. What is your distribution?

[2021-11-20 03:36] matinlotfali commented on #12
I need more information. What app do you use to see fullscreen videos? A screenshot would also be nice.

[2021-11-20 03:39] matinlotfali commented on #11
Is it also happening with breeze window border style? What distribution are you using?

[2021-11-20 16:42] Nikita-Presnov commented on #13
I made a few settings in this effect and clicked apply, and then the window manager crashed and started without applying any effect.

I removed kwin settings and it helped.

Check if it breaks some settings.

Distro KDE neon

Of the additional scripts, there was already a non-working parachute, force blur, and sticky window snapping, and maybe something else.

[2021-11-20 18:53] rdrms opened #14 "Wobbly Windows effect + KDE-Rounded-Corners results in distortions of the corners"
Hi, just wanted to let you know that the current implementation doesn't play nicely with Wobby Windows.

When moving a window, the corners appear and disappear, and from this it is obvious that the corners are some sort of overlay.

I don't know if there's anything that can be done about this without serious reengineering of the effect.

I value consistency, so I have turned off Wobbly Windows bec

[2021-11-20 19:07] rdrms opened #15 "Rounded Corners do not appear when taking a screenshot of a window"
Sorry for doing TWO issues on this small repository within 10 minutes, but I just noticed something else!

When using Meta+PrScr (I believe this is the default hotkey, at least on KDE neon), to take a screenshot of a single window, the rounded corners do not appear.  Again, this may be unavoidable, but I wanted to let you guys know.

Here's a couple images, first is taken with WinKey+PrintScreen t

[2021-11-20 22:09] a-parhom commented on #2
I've implemented entirely different approach. It now tries to kind of interpolate the shadows. Although, can't tell it's absolutely perfect, but it works for me in most cases.

[2021-11-21 17:08] lk-vila commented on #12
It happens to me also. I'll use vlc as an example, this is a screenshot that i just took:
![Screenshot_20211121_140500](https://user-images.githubusercontent.com/53627437/142771920-28bdf3a3-b470-4f67-a817-55a3113db8c4.png)

[2021-11-21 21:58] matinlotfali commented on #14
Yes. I confirm that this issue exists on all KWin versions.

[2021-11-21 22:02] matinlotfali commented on #15
I guess Win+PrintScreen captures windows without any desktop effects. Do you know any other desktop effect that you could try to capture with this approach to test my hypothesis?

[2021-11-21 22:05] matinlotfali commented on #12
Is the issue a duplicate of issue #3 ?

[2021-11-29 22:57] ryanrms commented on #15
I'm not really sure, I have been using a different desktop which uses Kwin (called Cutefish).  It uses a plugin called "RoundedWindow" to achieve the same effect.  I'm not sure if it would show in a regular screenshot of the window, because it doesn't include KDE screenshot in the desktop.

Oh, I installed it, and it appears that this one does show the rounded corners when Spectacle (KDE screensho

[2021-11-30 05:07] matinlotfali commented on #15
Thanks for letting me know. I will definitely check the cutefish codes. Let's keep this issue open so that I can provide updates for everyone.

[2021-12-05 09:06] godalming123 opened #16 "cannot install"
when I try to install I get errer:
[code]
Is this just my system being on older software? I have tried again after updating the system but I still get the errer. I thouht enedevour OS (the distro I am using) was pretty bleeding edge.

[2021-12-11 16:08] throwaway69420-69420 commented on #16
same issue on kde plasma 5.23.4-1

[2021-12-11 21:36] deter0 commented on #16
Me too :+1:

[2021-12-13 19:00] Shaurya-Kalia opened #17 "Just want to tell that I added it to AUR, so instructions for arch just need yay -S kde-rounded-corners"
Here is the package https://aur.archlinux.org/packages/kde-rounded-corners .

I can confirm it works on my arch machine with yay, and on manjaro with pamac (`pamac build kde-rounded-corners`). Maybe edit the readme file to reflect the changes.

The package directly clones from git, so shouldn't require updates unless name of github repo is changed.

Thanks.

[2021-12-15 15:33] yarinbar commented on #16
#me too

[2021-12-23 19:24] MyFilippo94 commented on #12
Can confirm, happened with Mozilla Firefox and MPV Player too.
This is Firefox, on Youtube
![image](https://user-images.githubusercontent.com/33789014/147283945-2bf1e995-17a8-46aa-93cc-0f2208f7c60c.png)

[2022-01-04 21:08] flyingmonkey01 commented on #16
error: no match for ‘operator--’ (operand type is ‘QHash<QString, QVariant>::const_iterator’)
Can't build on plasma 5.23.4

[2022-01-05 02:00] ksinar commented on #3
Any way that we can add an option to enable/disable this if it is merged? I personally prefer to have it stay rounded when maximized.

[2022-01-05 02:47] josh1244 opened #18 "Maximized windows against screen edge should not be rounded"
When a window is maximized, then the corners should not be rounded and filled in to the screen but this only happens when the window is changed from normal to maximized. If a window is opened in the maximized state, then it will still be rounded. Also if a window like Yakuake is up against the edge of the screen, them those edges should not be rounded.

[2022-01-18 14:16] Hibanaw commented on #15
Excuse me, I've tried to compile and install the cutefish's kwin-plugin under KDE Plasma on Manjaro(based on archlinux), but no rounded window effect appears. I wonder if it works well for you.

[2022-01-22 23:12] bscout9956 commented on #17
Unsure if there are any dependencies missing but it no longer builds (to be specific it fails to link).

`[ 23%] Automatic MOC for target kwin4_shapecorners_config
AutoMoc warning
---------------
"SRC:/shapecorners.cpp"
includes the moc file "shapecorners.moc", but does not contain a Q_OBJECT, Q_GADGET, Q_NAMESPACE, Q_NAMESPACE_EXPORT, K_PLUGIN_FACTORY, K_PLUGIN_CLASS, K_PLUGIN_FACTORY_WITH_JSON o

[2022-02-03 03:48] reunitereclaim opened #20 "Round but also sharp"
Hello!
I installed as per instructions.
Corners are rounded
-but behind the corners there is a white square filling in the cut off corner.
This mostly seems to appear when the windows are overlapping but can be seen otherwise with some windows.

Operating System: Kubuntu 21.10
KDE Plasma Version: 5.23.5
KDE Frameworks Version: 5.90.0
Qt Version: 5.15.2
Kernel Version: 5.13.0-28-generic (64-bit)
Gr

[2022-02-10 22:18] RomanKode commented on #20
You have 2 choices, either turn off your decorations shadows or lower it to the lowest size and shadow strength.

[2022-02-10 22:30] RomanKode opened #21 "Feature Request: Draw Outline"
Most of the "Korner" Bug stems from either shadows or Blur, two things I don't fully care for when theming my desktop, so I don't mind limiting blur to just the panel and removing window shadows, the problems is mainly that when you remove the window(decoration) shadow the windows blend in with one another, and basically you do not know when one begins and the other ones ends.

So if the feature t

[2022-02-18 18:43] aitorpazos opened #23 "Build broken in plasma 5.24"
Starting with plasma 5.24, the build fails:
[code]

[2022-02-24 06:35] SATYADAHAL commented on #23
Did anyone slove this issue?

[2022-02-24 06:35] SATYADAHAL commented on #23
I am also stuck due to this? When will it be sloved?

[2022-02-24 13:41] SATYADAHAL opened #24 "Unable to compile on kwin 5.24.2"
I was unable to compile. I Installed the dependencies as mentioned in the README.
My kwin_x11 version is 5.24.1.
I get following output when i run make
[code]
All error is in pastebin below:

https://pastebin.com/pB2Jp7Cz

Edit: I am sorry if my information is insufficient. I would be happy to provide more information if needed.

[2022-02-24 14:29] PercyDLR commented on #24
You can compile it if you do these little fix on in `shapecorners.cpp`:

Replace:
[code]
with:
[code]

[2022-02-24 14:31] PercyDLR commented on #23
You can compile it if you do these little fix on in `shapecorners.cpp`:

Replace:
[code]
with:
[code]

[2022-02-24 17:23] SATYADAHAL opened #25 "clear"

[2022-02-24 17:24] #25 closed

[2022-02-24 17:29] #24 closed

[2022-02-24 23:07] PercyDLR commented on #16
You need to install kinit to bypass that error message. i think it should be mentioned on the README

[2022-02-26 23:59] #23 closed

[2022-02-27 00:02] matinlotfali commented on #20
Is it a duplicate of the issue #2?

[2022-02-27 00:10] matinlotfali commented on #17
Thank you @Shaurya-Kalia. I reflected it in README.md
@bscout9956 the issue should now be resolved in #22

[2022-02-27 00:10] #17 closed

[2022-02-27 04:16] #3 closed

[2022-02-27 04:25] matinlotfali commented on #18
I believe this issue is fixed in the linked pull request. Feel free to reopen the issue if it is not.

[2022-02-27 04:25] #12 closed

[2022-02-27 04:29] matinlotfali commented on #13
I haven't been able to reproduce the issue.

[2022-03-03 15:19] SATYADAHAL opened #26 "No option to change radius of corner in settings."
I tried to change the radius of corner by going to Setting -> Desktop Effects -> Shape corners.
But there is no option to change the radius of corner.
Then i tried to search for some configuration file in ~/.config directory . I found a file named  **_shapecornersrc_**
When I looked into file I found this:

I changed the radius to 20 but I found no change in the radius of corner. I was wondering i

[2022-03-04 17:50] matinlotfali commented on #26
I confirm this issue. It is expected to see a settings window. I will check to see why it is not showing up in kwin 5.24

[2022-03-05 05:46] SATYADAHAL commented on #26
Just wondering if radius could be changed with some sort of configuration file. The configuration file that I mentioned earlier seems have no change in corner radius . I don't think that configuration file **_~/.config/shapecornersrc_** was related to this project at all. If you could make it work with configuration  file and also from settings it would be great. Hope to see a fix soon.

[2022-03-07 14:33] Fxsch commented on #26
You need to create a file called `shapecorners.conf` in `$HOME/.config/`

Inside that file you write:
[code]
Then you disable and enable shapecorners in the desktop effects.
You can change the 20 to how much rounding you want, 20 is rather high so you'll see wether it works or not.

[2022-03-08 03:56] SATYADAHAL commented on #26
It works through the config file. Are there any other options availabe for the config file? Like black listing some apps.

[2022-03-16 08:30] SATYADAHAL commented on #26
Changing radius with config file works but it also needs to work the settings. And I was wondering if there was more options for
config file like blacklisting/whitelisting some apps. It would be great to remove rounded corners from apps like Discord.

[2022-03-18 18:49] Velnbur opened #27 "Build failed. "SRC:/shapecorners.cpp" includes the moc file "shapecorners.moc", but does not contain a..."
- OS: Manjaro KDE
- Plasma version: 5.23.5
- qt5-base 5.15.3+kde+r133-1

After making this steps:
[code]

Build falies with this log:
[code]

[2022-03-19 03:22] SATYADAHAL commented on #27
Try changing line number 35 of file **_shapecorners.cpp_** as below.

**Chage this**
[code]
**To this**
[code]

[2022-03-19 08:00] Velnbur commented on #27
So I deleted last build and tried it from clean start:
[code]

Changed:
[code]
To this:
[code]
Then:
[code]

Still the same issue:
[code]

_Note: after `cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DQT5BUILD=ON` cmake shows warning:_
[code]

[2022-03-19 08:07] SATYADAHAL commented on #27
Try updating your plasma version to 5.24.3 or above..I am on 5.24.3 and I was able to compile

[2022-03-19 09:41] Velnbur commented on #27
Yeah, problem was with my system. I tried to upgrade some packages manually, nut `sudo pacman -Syu` fixed the issue.

[2022-03-19 09:41] #27 closed

[2022-03-22 02:08] TobiPeterG commented on #2
A fix for the korners bug lands in Plasma 5.25, will that in turn fix this issue here as well?

[2022-03-22 11:47] a-parhom commented on #2
No, it won't. This bug has another cause.

[2022-04-16 16:49] #20 closed

[2022-04-16 16:52] #13 closed

[2022-04-21 11:37] guiodic opened #28 "No shapecorner in Settings"
Hi, I installed KDE-rounded-corners from AUR but I have'nt shapecorners in KDE Settings. I also tried to restart session but nothig appeared.

[2022-04-24 08:53] SATYADAHAL commented on #28
It is duplicate of #26
You can change radius of roundness by:
https://github.com/matinlotfali/KDE-Rounded-Corners/issues/26#issuecomment-1060751886

[2022-04-24 08:57] SATYADAHAL commented on #28
It is a bug. If you want to change the radius of roundness you can have a look at #26

[2022-05-01 14:10] matinlotfali commented on #26
Fixed

[2022-05-01 14:10] #26 closed

[2022-05-01 14:15] SATYADAHAL commented on #21
This is another feature on my wish list. Hope to see the changes soon.

[2022-05-02 10:14] a-parhom commented on #15
Cutefish's implementation was initially based on ShapeCorners code, but now it is rewritten and depends on highly customized fork of KWin, so it isn't compatible with vanilla KWin from KDE Plasma any more.
If Cutefish's changes could be backported to upstream KWin, that would fix many bugs, including "korners" and cut out shadows.

[2022-05-08 00:01] Fire-Ash opened #29 "ShapeCorners not showing in settings"
I installed this from the AUR, and checked settings for ShapeCorners, but they aren't there.
![image](https://user-images.githubusercontent.com/101067949/167276020-a732a3af-5ffa-44f5-a8fd-c887fdd8d886.png)

[2022-05-08 15:16] matinlotfali commented on #29
The AUR is being maintained by @Shaurya-Kalia.

[2022-05-08 15:50] Shaurya-Kalia commented on #29
Search for 'corner' after enabling to show unsupported effects from filter list. If its still not visible, could you confirm by removing the aur package and manually compiling

[2022-05-08 16:27] Fire-Ash commented on #29
That worked for giving me the option in settings, but when I apply it, it changes nothing.

[2022-05-08 18:11] Shaurya-Kalia commented on #29
Your machine does not seem capable to support it. Are you running in VM? Perahaps @matinlotfali can further help with it

[2022-05-08 19:02] Fire-Ash commented on #29
I'm not running in a VM. These are my PC's specs if that's helpful in any way.
![image](https://user-images.githubusercontent.com/101067949/167311538-a284e6de-9b87-414f-a586-6d61ea5874b6.png)

[2022-05-09 05:13] matinlotfali commented on #29
I don't have arch to try to reproduce the issue. Have you tried to increase the corner radius in settings?

[2022-05-11 19:57] Shaurya-Kalia commented on #29
@Fire-Ash Did you reinstall the AUR package or manually install it after kde version update? Reinstalling from AUR solved the issue in a machine of mine.

[2022-05-13 22:17] RedCommand opened #30 "does not build on latest kde neon"
I'm trying to isntall on kde neon and get and error when running the make command, here is my log :

`[ 15%] Automatic MOC for target kwin4_effect_shapecorners
AutoMoc warning
---------------
"SRC:/shapecorners.cpp"
includes the moc file "shapecorners.moc", but does not contain a Q_OBJECT, Q_GADGET, Q_NAMESPACE, Q_NAMESPACE_EXPORT, K_PLUGIN_FACTORY, K_PLUGIN_CLASS, K_PLUGIN_FACTORY_WITH_JSON or K_

[2022-05-19 14:57] RedCommand commented on #30
on latest kde neon unstable get this error :

`make                                                                    16:56:03
[  7%] Automatic MOC for target kwin4_effect_shapecorners
AutoMoc warning
---------------
"SRC:/shapecorners.cpp"
includes the moc file "shapecorners.moc", but does not contain a Q_OBJECT, Q_GADGET, Q_NAMESPACE, Q_NAMESPACE_EXPORT, K_PLUGIN_FACTORY, K_PLUGIN_CLASS, K_PLUG

[2022-05-19 21:44] Etaash-mathamsetty commented on #30
also having this issue

[2022-05-19 21:44] Etaash-mathamsetty commented on #30
also having this issue

[2022-05-22 05:45] matinlotfali commented on #30
Fixed

[2022-05-22 05:45] #30 closed

[2022-05-22 05:49] matinlotfali opened #32 "Config dialog shows error on KWin 5.25"
When I click on config in System Settings -> Workspace Behaviour -> Desktop Effects -> ShapeCorners -> Config , I get the message below:
![KDE Neon Unstable-2022-05-21-22-46-11](https://user-images.githubusercontent.com/7337168/169680823-32379cc5-bd75-4b9e-9f09-bfb47bac49af.png)

[2022-05-22 05:51] matinlotfali commented on #28
I think it is a duplicate of #29

[2022-05-22 05:51] #28 closed

[2022-05-22 10:46] ivanthesexy opened #33 "Error on build"
While building, on step `cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DQT5BUILD=ON` this error shows up:

[code]

I have no idea how to solve this error, I looked up for "KFS" and "KFSInit" but both showed up results that are unrelated.

Here's the output log file:
[CMakeOutput.log](https://github.com/matinlotfali/KDE-Rounded-Corners/files/8749233/CMakeOutput.log)

[2022-05-26 03:39] marktforsyth opened #35 "xcb xevie and xprint dev libraries missing during build"
I'm very new to Linux, and I just recently installed Zorin core on an old PC of mine to play around and expiriment. When I tried to install and build this KDE-Rounded-Corners package to improve my UI, I ran into a small dependency error.

When I ran the line `cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DQT5BUILD=ON`, cmake initially showed a long list of XCB packages that it couldn't find. This puzzled

[2022-05-26 03:58] matinlotfali commented on #35
Hi Mark,
KDE-Rounded-Corners is an effect for KDE Plasma Desktop Environment. Zorin
uses Gnome Desktop Environment. If you want to install KDE-Rounded-Corners,
you need to use another distro such as Kubuntu or KDE Neon.

On Wed, May 25, 2022 at 8:39 PM Mark Forsyth ***@***.***>
wrote:

--

--
*Matin Lotfaliei*
IT Technician & Developer at MistyWest
MSc Student at Department of Computer Science Uni

[2022-05-26 04:00] marktforsyth commented on #35
Ok, that makes sense. Thank you.

[2022-05-26 04:00] #35 closed

[2022-06-01 07:15] RafeeDaBoy opened #36 "Window outline at corners"
There's a gray window border at the corners
![image](https://user-images.githubusercontent.com/69535896/171348815-c52d1e09-e549-4196-b411-4abd39c85694.png)

[2022-06-01 07:51] matinlotfali commented on #36
This is a duplicate of issue #2

[2022-06-01 07:51] #36 closed

[2022-06-01 07:56] matinlotfali commented on #33
It is actually KF5 (number five and not the letter S). What is your distro?

[2022-06-01 18:22] ivanthesexy commented on #33
Well, that fixed everything. Closing this.

Thanks.

[2022-06-01 18:22] #33 closed

[2022-06-15 05:37] edpil02 commented on #32
Perhaps related to :
 https://github.com/Luwx/Lightly/pull/177

[2022-06-15 16:46] matinlotfali commented on #29
@Fire-Ash Is the issue resolved?

[2022-06-15 16:49] matinlotfali commented on #11
@eexsty Any news on this? Is this issue resolved?

[2022-06-15 19:07] matinlotfali commented on #32
@edpil02 Thanks. It was not exactly that issue. But looking at the same area, I found an incorrect address.
It is now fixed.

[2022-06-15 19:11] matinlotfali opened #37 "[KWin 5.25] The shadow at the bottom corner behave strangely depending on the movement of the window"
See the animated screen capture below:

![output](https://user-images.githubusercontent.com/7337168/173905988-f735c1e4-e69d-4bcc-b69f-58947cf1e686.gif)

It gets worse if more windows are on top of each other. I guess it is a repainting issue?

[2022-06-23 11:46] Fire-Ash commented on #29
oh i'm sorry. yes it is

[2022-06-23 11:46] #29 closed

[2022-06-23 13:52] thoriqadillah opened #38 "Rounded corners is weird. There is blur square at the corner"
I've been bothered with this square at the corner that I think is a cheat to achieve the rounded corners, but it looks to obvious. Is it intentional or a bug?
![Screenshot_20220623_204841](https://user-images.githubusercontent.com/44075782/175315718-0daaa29b-52da-46e2-9d67-7bb9c27804e9.png)

[2022-06-23 16:14] #38 closed

[2022-06-23 16:17] #11 closed

[2022-06-23 16:19] matinlotfali commented on #2
The issue has changed into a different issue in the new KWin 5.25. See #37

[2022-06-23 16:29] matinlotfali commented on #18
I am reopening this issue. Can you send me a screenshot and tell me what distro are you using right now?

[2022-06-23 17:50] sheeepdev commented on #18
![image](https://user-images.githubusercontent.com/68562536/175362673-4ca92567-ef44-4154-8923-ab8b76d319b0.png)
Im using Arch Linux

[2022-06-23 17:52] matinlotfali commented on #18
Okay, may I also have the name of the app?
Is that the case with all apps?
--

--
*Matin Lotfaliei*
IT Technician & Developer at MistyWest
MSc Student at Department of Computer Science University of Victoria
Pronouns: he, him, his
(604) 785-8161 <+16047858161>  |  Linkedin
<https://www.linkedin.com/in/matinlotfali/>  |  GitHub
<https://github.com/matinlotfali>

[2022-06-23 17:52] sheeepdev commented on #18
It is the same for all apps, but the one I have open is firefox

[2022-06-26 18:06] matinlotfali commented on #18
It should be fixed now.

[2022-06-26 18:06] #18 closed

[2022-06-30 19:21] alex1701c commented on #32
There were multiple places where the plugin loading using keywords was deprecated and consequently removed.

I have some small cleanup in the work for this repo, but currently get build failures. I will make a MR in KWin master that allows us to address the issue it here.

[2022-06-30 21:09] matinlotfali commented on #32
Thanks your MR #41 is approved.

[2022-06-30 21:13] matinlotfali commented on #15
Doesn't work for me either. As @a-parhom it is not compatible with vanilla KWin. I am closing this issue.

[2022-06-30 21:13] #15 closed

[2022-07-17 07:04] matinlotfali commented on #2
Please look at merge request #44 and try it out.
It needs more testing before I merge it into the master branch and close this issue.

[2022-07-19 23:49] #2 closed

[2022-07-20 00:13] #21 closed

[2022-07-20 03:01] SATYADAHAL commented on #21
Now shape corner doesnot work with no titlebar and frame.
I generally use kde without titlebar and frames but this update doesnot works without
titlebar and frames. Is there a way around this?

[2022-07-20 07:35] matinlotfali commented on #21
@SATYADAHAL
I was not expecting to see such a need. I reverted the limit back in commit [50d131d](https://github.com/matinlotfali/KDE-Rounded-Corners/commit/50d131de556c55a9ed8332c22c84df7f57cd55a8) to how it used to be.

[2022-07-20 08:34] SATYADAHAL commented on #21
**@matinlotfali**
 Thanks for having this feature back. I love to use KDE without any sort of borders and titlebar.

[2022-07-20 08:59] SATYADAHAL opened #46 "Feature Request: Increase/Decrease the outline thickness."
Sometimes depending on wallpaper the outline is not properly visible. Can I change it through config file or should i change during build time.

[2022-07-20 09:00] matinlotfali commented on #46
We can definitely do that. I need to add it to the configs.

[2022-07-20 19:47] matinlotfali commented on #46
@SATYADAHAL can you test #47 (branch [feature/outline-thickness](https://github.com/matinlotfali/KDE-Rounded-Corners/tree/feature/outline-thickness)) and tell me if it is good enough to be merged into master?

[2022-07-20 20:07] RomanKode commented on #14
Is the rounded corner effect top layer. Probably it could be easier to fork the effects that have animation and have them affect the rounded corner layer.

[2022-07-20 20:33] matinlotfali commented on #14
@RomanKode I might know what are you referring to but I never tried it. Let's try it on the pull request #48.

[2022-07-21 14:01] SATYADAHAL commented on #46
### _**@matinlotfali**_
**It works perfectly on  Fedora 36 . Loved it. It should be merged into the master.
Now my Fedora looks pretty cool.**

![Screenshot_20220721_194104](https://user-images.githubusercontent.com/51309409/180232024-b016d386-00b9-476a-81cb-45b22f708cf5.png)

[2022-07-21 14:01] #46 closed

[2022-07-22 20:45] matinlotfali opened #50 "The effect is heavy and consumes a lot of CPU and GPU resources"
Looking at the FPS of a Kubuntu 22.04 installation over a VM in VirtualBox, when the effect is not active, the desktop refreshes with 30 frames per second.
![Deactivated](https://user-images.githubusercontent.com/7337168/180564651-5bdc443e-910b-403d-b79b-b08c524a8cd4.png)

However, when the effect is active, the FPS drops to 15 frames per second and sometimes 10.
![Activated](https://user-images.g

[2022-07-22 20:51] matinlotfali commented on #50
Let's test merge request #49.

[2022-07-22 20:57] #50 closed

[2022-07-22 22:59] matinlotfali opened #51 "The effect is not showing up on Kubuntu 20.04 and Debian 11 anymore"
The ShapeCorners item is not visible in **Kubuntu 20.04** (KDE Plasma 5.18.8 and KDE Framework 5.68.0) and in **Debian 11** (KDE Plasma 5.20.5 and KDE Framework 5.78.0) anymore.

@alex1701c Could it be related to #41?

[2022-07-22 23:45] matinlotfali commented on #51
I tried to revert changes of pull request #41 and it didn't change anything. So it must be something else.

[2022-07-23 18:27] alex1701c commented on #51
@matinlotfali Not visible in the sense of it not being showing the the KWin effects KCM?

One idea is to use kdebugsettings, enable debug logs for KCoreAddons, open the KCM using `kcmshell5 kcm_kwin_effects` and check the plugin search paths.

[2022-07-23 19:50] matinlotfali commented on #51
@alex1701c  It does not show up in the Desktop Effects list in the System Settings.

[2022-07-24 06:21] alex1701c commented on #51
A very stupid question: Did you search for "ShapeCorners", which is the name specified in the json metadata? I got confused by this at first too.

Checking the plugin search paths and comparing them with the install location might be a good idea. In such old frameworks versions we did not have more detailed log messages when the embedded json metadata could not be loaded.

[2022-07-24 06:27] alex1701c commented on #51
Although looking at the source code of this ancient version I find:

[code]
Are you sure that reverting https://github.com/matinlotfali/KDE-Rounded-Corners/pull/41/commits/458725ecd8b17e5fa83e1ba539e6698f8cf9c415 does not change anything?

[2022-07-24 19:12] matinlotfali commented on #14
I tried #48 with many different numbers but none of them worked.

[2022-07-25 06:07] matinlotfali commented on #51
Yes, you are right. I put ServiceTypes tag back and it appeared. For its config dialog, I also had to revert the `K_PLUGIN_FACTORY_WITH_JSON`

[2022-07-25 06:35] matinlotfali commented on #51
@alex1701c thanks a lot for your hints!

[2022-07-25 06:35] #51 closed

[2022-07-25 13:49] alex1701c commented on #51
@matinlotfali NP, please see the comment on the MR though :)

[2022-07-25 23:19] matinlotfali commented on #37
This issue is fixed by changing the MASK of paintWindow function

[2022-07-26 13:56] a-parhom commented on #14
It looks like changing numbers here doesn't work, because `KWin::effects->paintWindow(w, mask, region, data);` call is made before the actual window shaping, so all other effects in stack are triggered before that.

[2022-07-26 15:37] RomanKode commented on #14
Would there be a way to expose the outline effect to that function?

[2022-07-26 19:20] matinlotfali commented on #14
Now that I am using only one shader to render the whole effect, we might be able to inject the shader into the `KWin::effects->paintWindow(w, mask, region, data);` using `data.shader`. We don't want to replace its own existing shader (actual content) and instead, add my shader on top of it.

I tried different approaches to push the shader. But I was not successful. I am not certain if it is possib

[2022-07-26 19:30] matinlotfali commented on #14
I will try to see if I can change the code to work like the Invert effect:
https://github.com/KDE/kwin/blob/master/src/effects/invert/invert.cpp

[2022-07-27 03:57] matinlotfali commented on #14
I successfully injected the shader into the `KWin::effects->drawWindow` method and all other effects work very nicely with the render, including the Wobbly effect.

See pull request #55.

The only problem that I couldn't figure out was the **title bar**. I believe my code is identical to the invert effect but I don't know how the invert effect is able to apply its shader on the titlebar but I can'

[2022-07-27 10:05] a-parhom commented on #14
Oh, that's great news!

Maybe, I'll try to implement similar approach in my fork, so I'll see if something can be done with this.

[2022-07-27 15:29] matinlotfali commented on #14
@a-parhom Okay, I got some idea about why it is not working on my title bars. I changed the shader into this code for debugging.
[code]
The outcome shows that the title bar is rendering the shader separately and because its height is so small, it doesn't show the outline and its corners. So I guess I need to find a way to let the shader understand that it should treat the title bar differently.

!

[2022-07-27 20:43] matinlotfali commented on #14
Okay I fixed it! We now have all effects working with rounded corners and outlines. Doing more tests and I will merge the pull request #55

[2022-07-28 02:17] #14 closed

[2022-07-28 05:34] yarinbar opened #56 "Custom shortcuts not working after installation"
![image](https://user-images.githubusercontent.com/37772157/181428235-034b7f85-913d-41bc-b9a1-4ddf35f645c3.png)

My system:

![image](https://user-images.githubusercontent.com/37772157/181428300-f1705392-75e6-4c63-b0fd-aa2d2ed2984f.png)

[2022-07-28 05:41] matinlotfali commented on #56
I can not reproduce it on KDE Neon.
I am also in doubt that it would be related to the project. Can you uninstall the effect and see if the error goes away? If it does, I need to install KDE Fedora to try it out.

[2022-07-28 06:03] yarinbar commented on #56
It doesnt go away when i uninstall it, however it did not happen before the installation, so maybe

`sudo dnf install git cmake gcc-c++ extra-cmake-modules qt5-qttools-devel qt5-qttools-static qt5-qtx11extras-devel kf5-kconfigwidgets-devel kf5-kcrash-devel kf5-kguiaddons-devel kf5-kglobalaccel-devel kf5-kio-devel kf5-ki18n-devel kwin-devel qt5-qtbase-devel libepoxy-devel`

was the problem, however

[2022-07-28 06:08] matinlotfali commented on #56
I will try it on Fedora and I will get back to you.

[2022-07-28 08:45] matinlotfali commented on #56
The custom shortcuts open correctly on my Fedora 36 and the effect turned on. So I guess something else has tampered with your system. I am closing the issue. Feel free to open it again if you find more leads.

[2022-07-28 08:45] #56 closed

[2022-07-28 08:49] matinlotfali opened #57 "[Wayland] The effect has extra rounded corners below the title bar."
![image](https://user-images.githubusercontent.com/7337168/181463699-db6b979e-2821-4734-b07d-54ff502ff923.png)

[2022-07-28 22:18] #57 closed

[2022-07-29 02:33] matinlotfali commented on #37
Reopening this issue because I am not using MASK in paintWindow anymore and the issue exists

[2022-07-31 09:50] xAdamQ opened #59 "corner is not fully transparent"
I am using Manjaro with x11 there is a slit color change in the corners
![image](https://user-images.githubusercontent.com/29926942/182020601-eb668161-d049-4c57-b4e2-a1ad07e02fcf.png)

it is the same for XWayland, except that the corner effect doesn't even appear on most windows.

Thanks.

[2022-07-31 23:04] matinlotfali commented on #59
@xAdamQ Can you try the branch on pull request #60 and see if the issue is fixed?

[2022-08-02 10:35] TobiPeterG commented on #59
I have the same issue, switched to the pr branch, but the corners are still visible

[2022-08-02 20:40] matinlotfali commented on #59
@TobiPeterG from what I see in @xAdamQ 's screenshot, he has disabled the window shadows and corners were not following that setting until pr #60. Is yours the same? May I also see a screenshot and the name of the app?

[2022-08-05 16:03] TobiPeterG commented on #59
Sorry for the delay, I haven't turned off windows shadows.
I cloned the main repo again and installed it cleanly, still same issue. With small corner radius not really visible, but if set higher, it's really obvious, also in the top:
![image](https://user-images.githubusercontent.com/19935382/183116599-3841c54d-a045-4f53-876f-993dfc79c9fc.png)

[2022-08-05 20:11] matinlotfali commented on #59
Okay @TobiPeterG's issue is different compared to @xAdamQ. To address this, I am guessing that I need to remove all original shadows and draw my own shadows. This probably takes time for me to investigate.

[2022-08-05 20:13] TobiPeterG commented on #59
Oh okay, thanks for the information!
Should you need any additional information, feel free to ask. :)

Should I open a new issue for this or do we keep the discussion here?

[2022-08-07 01:21] matinlotfali commented on #59
Let's keep it here.

[2022-08-08 16:12] wmyfelix commented on #59
I installed from AUR and there are only corners on the down side of the window.

X11, Manjaro, window scale 150%

![image](https://user-images.githubusercontent.com/58871134/183462985-8c323c01-bef0-435d-ad0d-ae60c9b4166f.png)

[2022-08-08 18:13] matinlotfali commented on #59
@wmyfelix Is it the same when the window scale is %100 ?

[2022-08-09 21:13] zlotny commented on #37
Just to add some testing. I'm experiencing the same behaviour.

Operating System: Arch Linux
KDE Plasma Version: 5.25.4
KDE Frameworks Version: 5.96.0
Qt Version: 5.15.5
Kernel Version: 5.19.0-zen1-1-zen (64-bit)
Graphics Platform: X11

[2022-08-10 06:19] wmyfelix commented on #59
Yes. 😿

[2022-09-12 08:08] NetRunnerBlackwall opened #61 "Issue on make"
Upon running make in the process of compiling the effect, I'm presented with the following long error. Is it something to do with my Qt version? Installing through the AUR gives me errors 1 and 2 and the error: Unknown option 'output-dep-file'.

Here is my output after typing all commands in succession
[code]

[2022-09-13 15:56] matinlotfali commented on #61
From the error message, I think the error is because of the wrong version of the c++ compiler that you are using. The version of your compiler should match the one that your Qt is built with.

Try to switch to C++ 11 instead of 12 and see if it gets fixed.

[2022-09-13 15:56] #61 closed

[2022-09-14 07:54] NetRunnerBlackwall commented on #61
I'll look into that, but it turned out to be an issue with cmake not being able to find certain libraries as they were in a conda library and /usr/lib, workaround was to 'conda deactivate' and run the installation, worked after that. Thanks for the help

[2022-09-19 16:48] Reidond opened #62 "Install on immutable systems"
Hi, is it possible to install this for OS like Silverblue?

I tried to change `CMAKE_INSTALL_PREFIX` and `DESTDIR` to `$HOME/.local/share` but not luck, it's not showing in the list

[2022-09-20 17:07] matinlotfali commented on #62
I have never tried it on Silverblue. I can try it on a virtual machine and try.

[2022-09-21 07:11] Kaydax commented on #4
It seems with the latest version, applications like brave no longer have a round border unless it uses system title bars and borders

[2022-09-23 00:00] matinlotfali commented on #62
I was able to install the effect on Fedora Kinoite using:
    sudo ostree admin unlock
But it will get removed after a reboot. I don't know how to make it permanent yet.

[2022-09-23 00:03] matinlotfali commented on #62
I think the issue is not with the effect but more like learning how to edit the root partition in Silverblue. I am closing this issue. If you need to install the effect as a regular user instead of root, you need to open another issue unrelated to Silverblue.

[2022-09-23 00:03] #62 closed

[2022-10-05 17:41] linusrg1 opened #63 "Issues building on openSUSE"
I encounter this error when building on openSUSE. I have already installed all the required build packages too.

[code]
My cmake knowledge is very limited.

[2022-10-13 21:17] matinlotfali commented on #63
Maybe @mathiasgredal knows the fix?
If not, I need to install a fresh OpenSUSE on a virtual machine.

[2022-10-22 03:12] Revincx commented on #59
Hello ! I have the same problem on Plasma 5.26.1, Archlinux, X11 :
![image](https://user-images.githubusercontent.com/25524750/197316544-05152560-1e26-4dd7-8146-4961c923d10c.png)

Is there any new progress ?

[2022-10-23 16:58] 13-05 commented on #59
same issue, artixlinux with kde; built from source.

![image](https://user-images.githubusercontent.com/64506392/197405194-a41d9bf6-5a42-4917-a4b0-3a9680d35320.png)

[2022-10-26 13:31] coffseducation commented on #59
This still affects me.
Kubuntu 20.10
Would Kvantum be in conflict?

[2022-10-27 19:55] bluee111 commented on #63
maybe you need to install  libQt5Network-devel , but in Opensuse Leap 15.4 I could not complete success

[2022-10-31 19:01] linusrg1 commented on #63
@matinlotfali it worked now. So idk what was up before, I am sorry I can't say more than that, because I just don't know what was different this time.

[2022-11-02 02:58] matinlotfali commented on #63
No problem. I am glad it is fixed.

[2022-11-02 02:58] #63 closed

[2022-11-02 06:03] matinlotfali commented on #4
I edited the title to be more specific.